<article class="about active" data-page="about">
  <header>
    <h2 class="h2 article-title">About me</h2>
  </header>
  <section class="about-text">
    <p>
      saya adalah seorang mahasiswa dari SMKN 2 Wonosari Jurusan Teknik
      Elektronika, Selain saya suka elektronika saya juga suka tentang
      Pemograman atau IT dan sistem jaringan
    </p>
  </section>
  <section class="timeline">
    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>
      <h3 class="h3">Perjalanan</h3>
    </div>
    <ol class="timeline-list">
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">
          Mengenal dunia Elektronika
        </h4>
        <span>2012</span>
        <p class="timeline-text"></p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">
          pertama kali saya dunia pemograman
        </h4>
        <span>2020 — 2023</span>
        <p class="timeline-text">
          bahasa pemograman pertama yang saya pelajari adalah
          HTML-CSS-JavaScript-PHP
        </p>
      </li>
      <li class="timeline-item">
        <h4 class="h4 timeline-item-title">Mengenal tentang Arduino</h4>
        <span>2021 — 2023</span>
        <p class="timeline-text">
          pertama kali saya bermanin dengan arduino dan belajar bahasa
          C++/ino
        </p>
      </li>
    </ol>
  </section>
</article>