<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<meta
  name="description"
  content="R.DEV WEBSITE/PORTFOLIO"
/>
<meta
  name="keywords"
  content="rdev, rn, rnothing, ndy, rams, rams.my.id"
/>
<meta name="robots" content="index, follow" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://rams.my.id/" />
<meta
  property="og:title"
  content="R.DEV WEBSITE"
/>
<meta
  property="og:description"
  content="R.DEV WEBSITE/PORTFOLIO"
/>
<meta property="og:image" content="" />
<meta property="og:site_name" content="R.DEV" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://rams.my.id/" />
<meta
  property="twitter:title"
  content="R.DEV WEBSITE"
/>
<meta
  property="twitter:description"
  content="R.DEV WEBSITE/PORTFOLIO"
/>
<meta property="twitter:image" content="" />
<link rel="apple-touch-icon" sizes="57x57" href="/src/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/src/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/src/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/src/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/src/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/src/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/src/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/src/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/src/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/src/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/src/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/src/favicon/favicon-16x16.png">
<link rel="manifest" href="/src/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#e6edf5">
<meta name="msapplication-TileImage" content="/src/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#e6edf5">
<meta name="google-adsense-account" content="ca-pub-6550575917344507">
<title>R.DEV WEBSITE</title>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6550575917344507"
     crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/css/root.css" />
<link rel="stylesheet" href="/css/style.index.css" />
